<ActionBar title="">
    <!-- left area  -->

    <NavigationButton icon="res://ic_back_24dp" (tap)="goBack()"></NavigationButton>

    <!-- center area  -->
    <StackLayout orientation="horizontal"
                 android:horizontalAlignment="center">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <Label text="Change Password" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
    <!-- right area  -->
     <ActionItem (tap)="updatePassword()" ios.position="right" andriod.postion="actionBar" icon="res://ic_check_24dp">
     </ActionItem>
</ActionBar>


<GridLayout class="change-password-container">
    <GridLayout rows="*">
        <StackLayout row="0" verticalAlignment="top" class="m-t-20">

            <CardView margin="0 5 0 5" radius="5" elevation="5" class="whiteCard">
                <GridLayout rows="auto,auto,auto" class="p-20">
                    <StackLayout row="0">
                        <Label text="Current Password:" class="font-weight-bold"></Label>
                        <TextField [(ngModel)]="currentPassword"
                                   secure="true" id="currentPassword"></TextField>
                        <Label *ngIf="currentPasswordError" visibility="{{ currentPassword ? 'collapse' : 'visible' }}"
                               text="current password can't be blank" class="error-label"></Label>
                    </StackLayout>
                    <StackLayout row="1" class="p-t-10">
                        <Label text="New Password:" class="font-weight-bold"></Label>
                        <TextField secure="true" [(ngModel)]="newPassword" id="newPassword"></TextField>
                        <Label *ngIf="newPasswordError" visibility="{{ newPassword ? 'collapse' : 'visible' }}"
                               text="new password can't be blank" class="error-label"></Label>
                    </StackLayout>

                    <StackLayout row="2" class="p-t-10">
                        <Label text="Confirm New Password:" class="font-weight-bold"></Label>
                        <TextField secure="true" [(ngModel)]="confirmPassword"
                                   id="confirmPassword"></TextField>
                        <Label *ngIf="confirmPasswordError" visibility="{{ confirmPassword ? 'collapse' : 'visible' }}"
                               text="confirm password can't be blank" class="error-label"></Label>
                    </StackLayout>
                </GridLayout>
            </CardView>
        </StackLayout>
    </GridLayout>

    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>

</GridLayout>