
.add-moment{
    background-color: #fafafa;
}


.profile-details{
    background-color: #ffffff;
    padding: 10 20 5 20;
}

.wall-name{
    font-size: 20;
    font-weight: bold;
    font-style: italic;
}
