<ActionBar title="">
    <!-- left area  -->

    <NavigationButton icon="res://ic_back_24dp" (tap)="goBack()"></NavigationButton>

    <!-- center area  -->
    <StackLayout orientation="horizontal"
                 android:horizontalAlignment="center">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <Label text="" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
    <!-- right area  -->
</ActionBar>


<GridLayout class="kid-profile">

    <Gridlayout rows="auto,auto,*,auto" backgroundColor="#e3e0dc">
        <!--- #######  KID Profile ############   -->
        <StackLayout row="0" backgroundColor="#ffffff" >
            <StackLayout class="kid-profile-details">
                <GridLayout rows="*" , columns="*,100" verticalAlignment="center">
                    <Label row="0" col="0" [text]="kid.nickname" verticalAlignment="center" class="kid-wall-name text-center text-primary"></Label>
                    <StackLayout row="0" col="1">
                        <FrescoDrawee *ngIf="kid.photograph" height="100" width="100"
                                      imageUri="{{ kid.photograph }}"
                                      placeholderImageUri="~/images/user-icon-100.png"
                                      failureImageUri="~/images/user-icon-100.png"
                                      verticalAlignment="top"
                                      roundAsCircle="true"
                                      fadeDuration="600"></FrescoDrawee>

                        <StackLayout *ngIf="!kid.photograph"
                                     class="blue-circle-border extra-large-avatar-with-name text-center"
                                     verticalAlignment="center">
                            <Label [text]="kid | shortName | uppercase"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
                <GridLayout columns="*,*,*" verticalAlignment="center" class="text-center m-t-20">
                    <Image col="0" width="80" verticalAlignment="center" stretch="aspectFill"
                           src="~/images/removable/profile-details.png"></Image>
                    <Image col="1" width="80"  verticalAlignment="center" stretch="aspectFill"
                           src="~/images/removable/profile-vault.png"></Image>
                    <Image col="2" width="80"  verticalAlignment="center" stretch="aspectFill"
                           src="~/images/removable/profile-orgs.png"></Image>
                </GridLayout>
            </StackLayout>
            <StackLayout class="hr-shadow"></StackLayout>
        </StackLayout>


        <!--- #######  Add Moment button  ############   -->
        <StackLayout row="1">
            <Stacklayout class="m-t-10 add-moment" height="50" verticalAlignment="center">
                <StackLayout orientation="horizontal" horizontalAlignment="center" >
                    <Label class="material-icons md-24 md-add-circle" text="&#xE147;"></Label>
                    <Label text="Add moment" class="m-l-10"></Label>
                </StackLayout>
            </Stacklayout>

            <StackLayout class="hr-shadow"></StackLayout>

        </StackLayout>

        <Gridlayout row="2" backgroundColor="#ffffff">
            <StackLayout *ngIf="!posts.length" visibility="{{ isLoading ? 'collapsed' : 'visible'}}"
                         verticalAlignment="center" horizontalAlignment="center" class="m-20">
                <Label [text]="emptyNoteMessage" textWrap="true" class="text-center font-italic empty-note-message"></Label>
                <StackLayout class="m-t-10">
                    <Label text="&#xE3B0;" class="text-center material-icons md-48 md-camera-alt"></Label>
                </StackLayout>
            </StackLayout>
        </Gridlayout>

        <!-- ##### uncomment below if bottom navs to enable -->
        <!--<StackLayout row="3" verticalAlignment="center">
            <StackLayout class="hr-shadow"></StackLayout>
            <GridLayout columns="auto,*,auto" class="navigation-menu">
                <Label col="0" id="nav-home" class="material-icons md-36 md-chevron-right text-secondary"
                       text="&#xE88A;"></Label>
                <Label col="1" id="nav-add-post" class="material-icons md-36 md-chevron-right text-center"
                       text="&#xE145;"></Label>
                <Label col="2" id="nav-school-info" (tap)="openSchoolInfo()"
                       class="material-icons md-36 md-chevron-right" text="&#xE88E;"></Label>
            </GridLayout>
        </StackLayout>-->


    </Gridlayout>

</GridLayout>