/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
@import url("~/custom.css");
@import url("~/drawer.css");
@import url("~/platform.css");

.material-icons {
    font-family: MaterialIcons-Regular, Material Icons;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* application css*/

Page {
    font-size: 15;
    font-family: Roboto-Regular;
    color: #656469;
    background-color: #e3e0dc;
}

TextField {
    padding: 10;
    font-size: 15;
}

/*Action bar releated */
.action-label {
    color: #46c8f0;
    font-size: 18;
    font-weight: 700;
}

@keyframes glow {
    0% {
        background-color: #eeeeee;
    }
    50% {
        background-color: #b7b7b7;
    }
    100% {
        background-color: #eeeeee;
    }
}

.anim {
    animation-name: glow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*Activity Indicator*/
StackLayout.dimmer {
    background-color: rgba(0, 0, 0, 0.2);
    /*opacity: 0.7;*/
}

ActivityIndicator.busy {
    color: #656469;
}

.hr-shadow {
    height: 2;
    background-color: #e0e0e0;
    width: 100%;
    border: 0;
    box-shadow: 0 10 10 -10 #8c8b8b inset;
}


.hr-shadow-bottom {
    height: 2;
    background-color: #cccccc;
    width: 100%;
    border: 0;
    box-shadow: 0 10 10 -10 #cccccc inset;
}

/* Card related styles */
.whiteCard {
    background-color: white;
}

.input-border {
    border-width: 2;
    border-color: #656469;
    border-radius: 2;
    padding: 8;
}

.input-border-white {
    border-color: white;
}

.input-text-center {
    text-align: center;
}

.input-without-border-bottom {
    background-color: transparent;
    border-color: transparent;
}

.input-border-success {
    border-color: #b7d6a9;
}

.input-border-error {
    border-color: #e89999;
}

.btn-submit {
    border-radius: 4;
    /*override default margin 16*/
    margin-right: 0;
}

.error-label {
    color: #d9534f;
    font-style: italic;
}
/* THEME OVERRIDES*/

.text-muted {
    color: #cccccc;
}

.text-secondary {
    color: #faad41;
}

.btn-secondary {
    background-color: #faad41;
}

.btn-secondary {
    border-color: #faad41;
}

.btn-secondary {
    color: #f8f8f8;
}

.btn-icon {
    color: white;
}

/* border for circle images ..*/
.blue-circle-border {
    border-color: #46c8f0;
    border-width: 1;
}

StackLayout.small-avatar-with-name {
    border-radius: 20;
    height: 40;
    width: 40;
    font-size: 16;
    font-weight: bold;
}

StackLayout.medium-avatar-with-name {
    border-radius: 30;
    height: 60;
    width: 60;
    font-size: 18;
    font-weight: bold;
}

StackLayout.large-avatar-with-name {
    border-radius: 38;
    height: 75;
    width: 75;
    font-size: 21;
    font-weight: bold;
}

StackLayout.extra-large-avatar-with-name {
    border-radius: 50;
    height: 100;
    width: 100;
    font-size: 23;
    font-weight: bold;
}

.profile-name {
    font-weight: 700;
}

.profile-relationship {
    margin-left: 5;
    color: #999999;
    font-style: italic;
    font-size: 13;
}

.message-text {
    margin-top: 4;
}

.navigation-menu{
    background-color: white;
    padding: 10 20 10 20;
}

