<GridLayout class="login-cover-image">
    <GridLayout rows="*, auto" >
        <StackLayout row="0" verticalAlignment="center"  class="login-container">
            <GridLayout rows="auto,auto,auto" class="p-20">
                <StackLayout row="0">
                    <TextField class="input input-text-center" hint="Choose password"
                               [(ngModel)]="password" secure="true"
                               autocorrect="false" autocapitalizationType="none" id="password"></TextField>
                    <Label *ngIf="passwordError" visibility="{{ password ? 'collapse' : 'visible' }}" text="password can't be blank" class="error-label"></Label>
                </StackLayout>
                <StackLayout row="1" class="p-t-10">
                    <TextField class="input input-text-center"
                               hint="Confirm password" secure="true" [(ngModel)]="confirmPassword" id="confirmPassword"></TextField>
                    <Label *ngIf="confirmPasswordError" visibility="{{ confirmPassword ? 'collapse' : 'visible' }}" text="confirm password can't be blank" class="error-label"></Label>
                </StackLayout>
                <StackLayout row="2" orientation="horizontal">
                    <Gridlayout rows="auto" columns="auto,*" verticalAlignment="center" orientation="horizontal">
                        <StackLayout row="0" col="0" verticalAlignment="center">
                            <Label col="0" text=""></Label>
                        </StackLayout>
                        <Button row="0" col="1"  isEnabled="{{ isLoading ? false : true }}" text="Sign Up"
                                horizontalAlignment="right"  class="btn btn-primary blue2-background btn-rounded-sm btn-submit" (tap)="signUp()"></Button>
                    </Gridlayout>
                </StackLayout>
            </GridLayout>
        </StackLayout>

        <StackLayout row="1" verticalAlignment="bottom" class="btn-icon" orientation="horizontal">
            <StackLayout (tap)="goBack()" orientation="horizontal" class="p-l-20 p-b-20" verticalAlignment="center">
                <Label text="&#xE5CB;" class="material-icons md-48 md-chevron-left"> </Label>
                <Label text="Back" class="font-weight-bold" style="margin-top: 12"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>

      <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
      <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
          <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
      </GridLayout>

</GridLayout>